{% extends "includes/layout.html" %}

{% block content %}

  <div class="row">
    {% include "includes/event-nav.html" %}
  </div>

  <div class="row">
    <h3>Sentiment</h3>
  </div>

  <div class="row">
    <div class="col-sm">
      <h3>Messages</h3>

      <div class="card bg-dark border-secondary" id="messages">
        <ul class="list-group list-group-flush">
          {% for message in messages %}
            <div class="card-header">
              <span>{{ message.timestamp | asTime }} | {{ message.category }} {% if message.carNumber %}| #{{ message.carNumber }} {% endif %}</span>
            </div>
            <li class="list-group-item">{{ message.message }} </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col-sm" id="tweets">
      <h3>Discussion</h3>
      {% for tweet in tweets %}
        <div class="card bg-dark border-secondary">
          <div class="card-body">
            <h5 class="card-title"><a href="https://twitter.com/{{ tweet.author.username }}">@{{ tweet.author.username }}</a></h5>
            <span class="card-text">{{ tweet.tweet.text }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}

{% block body_end %}
  {{ super() }}
  <script src="{{ asset_path }}/javascripts/eventSentiment.js"></script>
{% endblock %}
