{% extends "includes/layout.html" %}

{% block content %}

  <div class="row">
    <div class="col-sm" id="events">
      <h2>Current events</h2>
      {% if events.length === 0 %}
        <p>No events currently ongoing.</p>
      {% else %}
        {% for event in events %}
          <a href="/{{ event.uuid }}">
            <div class="card bg-dark border-secondary">
              <div class="card-body">
                <h5 class="card-title">{{ event.name }}</h5>
                <p class="card-text">{{ event.description }}</p>
              </div>
            </div>
          </a>
        {% endfor %}
      {% endif %}
    </div>

    <div class="col-sm" id="tweets">
      <h2>What's happening</h2>
      {% for tweet in tweets %}
        <div class="card bg-dark border-secondary">
          <div class="card-body">
            <h5 class="card-title"><a href="https://twitter.com/{{ tweet.author.username }}">@{{ tweet.author.username }}</a></h5>
            <p class="card-text">{{ tweet.tweet.text }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
