$primary: rgb(20, 108, 67);
$secondary: rgb(26, 161, 121);

@import "../../node_modules/bootstrap/scss/bootstrap";

.navbar {
  margin-bottom: 10px;
}

.card {
  @extend .card;
  margin-bottom: 5px;
}

.navbar-brand {
  @extend .navbar-brand;
  font-size: xx-large;
  font-style: italic;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.list-group-item {
  @extend .list-group-item;
  background-color: $primary;
  color: white;
}